</style>
    body {
        scroll-behavior: smooth;
    }

    #main {
        display: fixed;
        margin-left: 25%;
        margin-right: 10%;
        background-color: white;
    }

    a {
        color: 002D72;
        text-decoration: none;
    }

    .content-text {
        font-size: 150%;
        line-height: 200%;
        color: black;
        width: 100%;
    }

    /* Navigation bar. */
    .side-nav {
        position: fixed;
        left: 5%;
        width: 15%;
        font-size: 150%;
        font-weight: 200%;
        padding-top: 10%;
        padding-right: 10%;
    }

    .nav-item {
        margin-left: 24px;
        margin-bottom: 40px;
    }

    .nav-item a {
        text-decoration: none;
    }

    .content {
        padding-top: 7%;
    }

    .section {
        margin-bottom: 120px;
    }

    .avatar {
        margin-bottom: 20px;

    }
    
    .avatar-img {
        max-width: 30%;
        border-radius: 8px;
        padding-bottom: 2%;
        margin-left: 10%;
    }

    .hi-title {
        font-size: 60px;
        font-weight: 600;
        margin-bottom: 10px;
    }

    .section-title {
        font-weight: 600;
        font-size: 40px;
        margin-bottom: 13px;
        color: 002D72;
    }

    .experience-desc {
        font-size: 100%;
        opacity: 0.5;
    }

    .single-pub{
        margin-bottom: 10%;    
        
    }

    .experience_title {
        max-width: 100%;
        
    }

    .experience_title img{
        margin-left: 2%;
        object-fit: cover;
        height:10%;
        width: auto;
    }

    .edu-sub {
        opacity: 0.9;
        font-size: 95%;
        color: black;
        font-family: 'Courier New', Courier, monospace;
    }

    .edu-title {
        font-weight: bold;
    }

    .edu-subtitle {
        font-size: 100%;
        color: #696969;
    }

    .pub-desc {
        width: 120%;
        display: block;
    }

    .experience-logos {
        width: 15%;
        height: 15%;
        margin-left: 10%;
        padding-right: 20%;
    }

    .linkedin-logo {
        width: 4%;
        height: auto;
    }

    .cards {
        max-width: 100%;
        display: flex;
        grid-template-columns:600px 600px;
        grid-gap: 80px;
    }
    
    .card {
        width: 500px;
        display: grid;
        grid-template-rows: max-content 200px 2fr;
    }
    
    .card img {
        object-fit: cover;
        width: auto;
        height: 100%;
    }

</style>